#container{
  margin-top : 100px;
}
.eventCreate{
    text-align: center;
}
.eventCreate .progress-bar-wrap{
  background: #cdd2d8;
  width: 100%;
  height: 30px;
  border-radius: 50px;
}
.eventCreate .progress-bar-wrap>p{
  width: 25%;
  background: #227fbb;
  height: 30px;
  border-radius: 50px;
  transition: all 0.3s;
}
.eventCreate .eventCreateForm .eventCreateTitle{
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}
.eventCreate .eventCreateForm .sub-title{
  text-align: center;
  font-size: 18px;
}
.eventCreate .map-example{
  display: block;
  margin: 0 auto;
}
.eventCreate .input-location-wrap{
  text-align: center;
  position: relative;
  display: block;
  width: 50%;
  margin: 0 auto;
  min-width: 400px;
}
.eventCreate .input-location-wrap .search-icon{
  width: 30px;
  border-radius: 5px;
  position: absolute;
  top: 9px;
  right: 7px;
  cursor:pointer;
}
.eventCreate .input-location-wrap>input{
  padding: 10px;
  width: 100%;
}
.eventCreate .locationInput{
  padding: 10px;
  width: 50%;
  display: block;
  min-width: 400px;
  margin: 12px auto 40px auto;
}

/* 2단계 */
.category-wrap{
  text-align: center;
  overflow: hidden;
  margin: 30px auto;
}
.category-wrap input[type="radio"]{
  display: none;
}
.category-wrap label{
  cursor: pointer;
  width: 19%;
  background-color: #cdd2d8;
  color: #333333;
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  margin: 12px 2px;
  font-size: 17px;
  transition: all 0.3s;
}
.category-wrap input[type="radio"]:checked+label{
  background-color: #227fbb;
  color : #ffffff;
}

/* 3단계 */
.insert-event-info{
  width: 80%;
  margin: 50px auto 0 auto;
}
.insert-event-info label,
.insert-event-info p{
  width: 30%;
  margin-top: 22px;
  display: inline-block;
  min-width: 160px;
  padding-right: 23px;
}
.insert-event-info input{
  width: 50%;
  padding: 10px;
  margin-top: 10px;
}
.insert-event-info .uploadInput{
  display: none;
}
.insert-event-info .uploadImgWrap{
  width: 50%;
  display: inline-block;
}
.insert-event-info .uploadImgWrap .uploadBtn{
  background: #00a185;
  color: #ffffff;
  border-radius: 10px;
  padding: 7px 10px;
  font-size: 1rem;
  margin: 10px 0;
  float: left;
}
.insert-event-info .uploadImg{
  float: left;
  width: 100%;
  min-height: 250px;
}
.insert-event-info #eventIntroduce{
  margin-top: 10px;
  resize: none;
  width: 75%;
  max-width: 445px;
}
.insert-event-info .eventIntroduceTitle{
  margin-top: 80px;
}
@media (max-width: 991px) {
  .insert-event-info .eventIntroduceTitle{
    margin-top : 30px;
  }
}
.step4{
  margin-top : 100px;
}
.eventCreate .eventCreateForm .step4 .eventCreateTitle{
    font-size: 40px;
}
.eventCreate .eventCreateForm .step4 .sub-title{
    font-size: 25px;
}
.step2,.step3,.step4{
  display: none;
}
