#header{
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.034), 0 1.7px 0.3px rgba(0, 0, 0, 0.048), 0 5.5px 3px rgba(0, 0, 0, 0.06), 0 13.3px 6.9px rgba(0, 0, 0, 0), 0 10.8px 2.4px rgba(0, 0, 0, 0.01), 0 9px 10px rgba(0, 0, 0, 0.12);
  padding: 15px 0;
}
#header h1.logo{
  width: 25%;
  display: inline-block;
}
#header h1.logo img{
  width: 100%;
  min-width: 200px;
}
#header .nav-section{
  display: inline-block;
  float: right;
  height: 73px;
  line-height: 73px;
}
#header .nav-section a{
  margin: 0 5px;
  font-size: 1.1rem;
  transition: all 0.3s;
  font-weight: 500;
}
#header .nav-section a:hover{
  color: #00a185;
}
