.table-title{
      background: #227fbb;
      color: #ffffff !important;
      border-radius: 15px;
      width: 100%;
      text-align: center;
      padding: 1rem 1rem;
      font-size: 20px;
      text-align: center;
}